PORT=8000
MONGO_URI=mongodb://localhost:27017/mern-expenses
CLIENT_URL=http://localhost:5173
JWT_SECRET=moneyWiseKey
JWT_REFRESH_SECRET=moneyWiseKeyRefresh
JWT_ACCESS_EXPIRES=24h
JWT_REFRESH_EXPIRES=7d
NODE_ENV=development
